/* This is the stlye Sheet */

.list-group-item {
    margin-top: 10px;
}

#startQuiz {
    text-align: center;
}

#startMain {
    display: block;
}

#quest1 {
    display: none;
}

#scoreForm {
    display: none;
}

#textAnswer {
    background-color: white;
}
